* {
    box-sizing: border-box;
}

/* Declaring font-family in the body tag instead of in the universal selector above to allow inheritance 
 * for this property
 */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Mobile view should appear only if the width of the browser is equal to or less than 767px.
 */
@media (max-width: 767px) {
    section {
        width: 100%;
    }
}

/* Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively. 
 */
@media (min-width: 768px) and (max-width: 991px) {
    section {
        width: 50%;
    }

    /* Every 3rd element in tablet view spans to 100% width */
    section:nth-child(3n+0) {
        width: 100%;
    }
}

/*  The browser should display a desktop version of the site when the width of the browser window is 992px and above. 
 */
@media(min-width: 992px) {
    section {
        width: 33%;
    }
}

h1 {
    text-align: center;
    font-size: 175%;
    margin-bottom: 2em;
}

/* font-family change at section tag allows changing font for section > h2 and section > article
 * font-family is overriding the body selector declaration. Can't be accomplished if font-family
 * is established in the universal selector as it'd block inheritance making it mandatory to
 * define a different font-family both at section > h2 and section > article
 */
section {
    float: left;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: relative;
}

section > h2 {
    text-align: center;
    font-style: italic;
    font-size: 125%;
    border: solid black 1px;
    margin: 0px 5px 0px 5px;
    width: 7em;
    position: absolute;
    right: 0px;
}

section > h2#section-1 {
    background-color: orange;
}

section > h2#section-2 {
    color: white;
    font-weight: bold;
    background-color: red;
}

section > h2#section-3 {
    background-color: lightskyblue;
}

section > article {
    text-align: left;
    border: solid black 1px;
    margin: 0px 5px 10px 5px;
    padding: 3em 1em 1em 1em;
    background-color: lightgray;
}


